.filter-container {
  flex-direction: column;
  gap: 16px;
}

/* Painel avançado */
.advanced-panel {
  border-radius: 16px;
  overflow: hidden;
}

/* Grid de filtros */
.filters-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding-top: 8px;
}

/* Ações internas */
.advanced-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

/* Botão principal */
.main-action {
  display: flex;
  justify-content: flex-end;
}

.search-button {
  min-width: 100px;
  border-radius: 24px;
  background-color: #313639;
  color: #fff;
  font-weight: bold;
}

.advanced-filter-label {
 color: #313639;
}

/* Responsivo */
@media (min-width: 768px) {
  .filters-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .filters-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

:host {
  background: var(--bg-surface);
  color: var(--text-primary);
}

input,
select {
  background: var(--bg-card);
  border: 1px solid var(--border-color);
  color: var(--text-primary);
}

input::placeholder {
  color: #313639;
}

mat-form-field {
  width: 100%;
}

.clear-filters-btn {
  min-width: 100px;
  min-height: 50px;
  border-radius: 24px;
  background-color: #4d5155;
  color: #fff;
  margin-right: 10px;
  font-weight: bold;
}
