.topbar {
  display: flex;
  align-items: left;
  justify-content: space-between;
  padding-left: 0;
}

.logo-container {
  display: flex;
  align-items: left;
  width: auto;
  height: auto;
  margin-left: 0;
}

.logo {
  height: 150px;
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0;
}

@media (max-width: 768px) {
.logo {
  height: 120px;
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0;
}
}