:host {
  display: block;
}

.container {
  display: flex;
  padding: 16px;  
  flex-direction: column;
}

.header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #313639, #282828);
  color: #FFF9F0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.layout-container {
  margin-left: -25px;
  margin-top: 15px;
}